h1 {
  text-align: center;
  font-family: 'Quantico', sans-serif;
  color: grey;
}

h3 {
  text-align: left;
  font-family: 'Quantico', sans-serif;
  color: grey;
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  position: relative;
}

svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

::-moz-selection {
  background-color: transparent;
  color: grey;
}

::selection {
  background-color: transparent;
  color: grey;
}
